<p>add-product works!</p>
<div class="container">
  <div class="form-group">
    <label for="">ProductName</label>
    <input type="text" name="" [(ngModel)]="name" class="form-control" id="">
  </div>
  <div class="form-group">
    <label for="">Image</label>
    <input type="text" name="" [(ngModel)]="image" class="form-control" id="">
  </div>
  <div class="form-group">
    <label for="">price</label>
    <input type="text" name="" [(ngModel)]="price" class="form-control" id="">
  </div>
  <div class="form-group">
    <button class="btn btn-primary" (click)="addProduct()">ADD</button>
  </div>
</div>
